<%= page_title("Dashboard - #{current_user.first_name}") %>
<h1 class="page-title">Dashboard</h1>

<div class="row">
  <div class="large-6 columns">
    <%= render 'dashboards/newsfeed' %>
  </div>

  <div class="large-6 columns">
    <%= render 'dashboards/question' %>
  </div>
</div>

<%= react_component('PairingBox', @users_json) %>
