@import 'variables';

.pair-navigation .button {
  margin: 0;
  font-size: .8rem;
  margin-left: 4rem;
}
a.pair-navigation {
  color: black;
}

.page-title {
  text-align: center;
}

.newsfeed p {
  font-size: .9em;
  color: $body-text-color !important;
}

.user-name {
  color: $success;
}

.update {
  color: $alert;
}

.quick-question {
  overflow: auto;
  width: 100%;
  p {
    font-size: .9em;
    color: $body-text-color !important;
  }
}

input#ask-question {
  float: right;
}

.button.pair-link {
  background: $alert;
  line-height: .1;
  margin: 0;
  &:hover {
    background: black;
  }
}
