@import 'variables';

body {
  background: $main-body;
  color: $body-text-color;
}

h1  {
  font-family: $h1-font;
  color: $h1-color;
}
h2 {
  font-family: $h1-font;
  color: $h2-color;
}

table {
  width: 100%;
}

.alert-box {
  margin-top: 2%;
}
