<footer id="footer">
  <div class="row">
    <div class="large-8 columns">
      <ul class="footer-nav">
        <li><a href="#" target="_blank">Submit Issues & Bugs</a></li>
        <li><a href="#" target="_blank">Contribute </a></li>
        <li><a href="#" target="_blank">Request Features</a></li>
      </ul>
    </div>
    <div class="large-4 columns">
      <p id="copyright"> &copy; Copyright <%= Time.now.year %></p>
      <%= image_tag ('la-logo.png'), class: "footer-logo" %>
    </div>
  </div>
</footer>
